button#toggle-inflames {
    background: transparent;
    border: none;
    width: 64px;
    height: 64px;
    cursor: pointer;

    & > img {
        display: none;
    }
}

#inflames:hover ~ #inflames-controls > #toggle-inflames[data-inflames="true"] > #pause-icon,
#site-header:hover ~ #inflames-controls > #toggle-inflames[data-inflames="true"] > #pause-icon,
#inflames-controls:hover > #toggle-inflames[data-inflames="true"] > #pause-icon {
    display: block;
}

#inflames:hover ~ #inflames-controls > #toggle-inflames[data-inflames="false"] > #play-icon,
#site-header:hover ~ #inflames-controls > #toggle-inflames[data-inflames="false"] > #play-icon,
#inflames-controls:hover > #toggle-inflames[data-inflames="false"] > #play-icon {
    display: block;
}